* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw; /*Makes the content fill the screen size */
}

h1, h2, h3 {
    text-transform: uppercase;
}

.image-container {
    height: 200px;
    overflow: hidden;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio li {
    width: 30%;
    padding: 20px;
}

.portfolio-image {
    width: 100%;
    background-size: cover;
    background-position: top;
    transition: 4s;
}

.portfolio-image:hover {
    background-position: bottom;
}

/*** NavBar (Light) ***/
.nav-link {
    color: black;
    text-transform: uppercase;
    font-family: 'Sofia Sans';
    font-weight: 1000;
}

.navbar {
    background-color: white;
}

/*** Mode Toggle ***/

#mode-toggle {
    border-radius: 50%;
    background-image: linear-gradient(to right top, #ffc75f, #ffd361, #fedf65, #fcec6a, #f9f871);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    font-size: 35px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

body.dark-mode #mode-toggle {
    background-image: linear-gradient(to right top, #e9e9e9, #e4eaf3, #d6edfb, #c3f2fb, #b7f6f0);
}

@media screen and (max-width: 600px) {
    #mode-toggle {
        margin-left: auto;
        margin-right: 10px;
    }
}

/*** NavBar (Dark) ***/

body.dark-mode .nav-link {
    color: white;
}

body.dark-mode .navbar {
    background-color: black;
}

/*** Header (Light) ***/

#header {
    background-image: linear-gradient(to top, #e8fbff, #e9f9ff, #ebf7ff, #eff4ff, #f3f2ff, #f5f0ff, #f8eeff, #fcebff, #fde9ff, #fde6ff, #fee4ff, #ffe1ff);
    height: 85vh;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
}

/*** Header (Dark) ***/

body.dark-mode #header {
    background-image: linear-gradient(to top, #72526f, #704e6d, #6d4b6a, #6b4768, #694465, #664262, #623f5e, #5f3d5b, #5a3c56, #543a51, #4f394d, #4a3748);
}

body.dark-mode .heading-text {
    text-align: center;
    color: white;
}

/*** Portfolio (Light) ***/
#work {
    /* background-color: #e8fbff; */
    background-color: #FFFCF4;
    padding-top: 80px;
}

#work-heading {
    grid-column: span 2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio-item {
    border: solid 2px black;
}

.scroll {
    width: 400px;
    height: 450px;
    background-size: cover;
    background-position: top;
    transition: 4s;
    display: flex;
    flex-direction: row;
}

.scroll:hover {
    background-position: bottom;
}

.image1 {
    background: url(images/Short\ &\ Sweet.png);
    width: 550px;
    height: 450px;
    background-size: cover;
    background-position: top;
}

.image2 {
    background: url(images/The\ Little\ Library\ Foundation.png);
    width: 550px;
    height: 450px;
    background-size: cover;
    background-position: top;
}

.image3 {
    background: url(images/MURAL.png);
    width: 550px;
    height: 450px;
    background-size: cover;
    background-position: top;
}

.image4 {
    background: url(images/Sweet\ Slumber.png);
    width: 550px;
    height: 450px;
    background-size: cover;
    background-position: top;
}

.image5 {
    background-color: grey;
    width: 550px;
    height: 450px;
}

.portfolio-heading {
    margin: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

/*** Portfolio (Dark) ***/

body.dark-mode #work {
    background-color: #4A3748;
}

body.dark-mode #work-heading {
    color: white;
}

body.dark-mode .button {
    background-color: white;
}

body.dark-mode .link {
    color: black;
}

/**** About (Light) ****/
#about {
    background-color: #e8fbff;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* .about-body {
    text-align: center;
    padding: 0 400px 0 400px;
} */

/*** About (Dark) ***/

body.dark-mode #about {
    background-color: #72526F;
}

/*** Skills (Light) ***/

#skills {
    height: 150px;
}

ul {
    list-style: none;
}

.skills-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill {
    color: black;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    font-family: Questrial;
}

body.dark-mode .skill {
    color: white;
}

.skill-caption {
    margin-top: 10px;
}

/*** Contact (Light) ***/

#contact {
    background-color: #f5f0ff;
    height: 800px;
    padding-top: 80px;
}

input[type=text], 
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=textarea] {
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0 40px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  button[type=submit] {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }

  #form {
    border-radius: 5px;
    padding: 20px 580px 40px 580px;
  }

  @media screen and (max-width: 600px) {
    #form, .input[type=submit], .input[type=text], .input[type=email], .input[type=textarea] {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

/*** Contact (Dark) ***/

body.dark-mode #contact {
    background-color: #4A3748;
}

/*** Footer ***/
#footer {
    height: 20vh;
    background-color: white;
}

body.dark-mode #footer {
    background-color: black;
}

.footer-body {
    padding-top: 50px;
}

/**** Text Styles (Light) ****/

h1.main-heading {
    color: black;
    font-family: Quicksand;
    font-weight: bold;
    /* font-size: 128px; */
}

h2.main-heading {
    color: black;
    font-family: Quicksand;
    font-weight: normal;
    /* font-size: 96px; */
}

.heading-bold {
    color: black;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-light {
    color: black;
    font-family: Quicksand;
    font-weight: normal;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subheading {
    color: black;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
}

.body {
    color: black;
    font-family: Questrial;
}

.button {
    background-color: black;
    color: white;
    font-family: Questrial;
    padding: 0.5em 1em;
    border: none;
    border-radius: 30px;
    margin: 10px;
    transition: 0.3s;
}

body.dark-mode .button {
    background-color: white;
    color: black;
}

.button:hover {
    background-color: #FFBCDF; /*Changes the background colour on hover for buttons */
    color: black;
}

body.dark-mode .button:hover {
    background-color: #72526f;
}

a:hover {
    color: black;
}

/*** Text Styles (Dark) ***/

body.dark-mode h1.main-heading {
    color: white;
}

body.dark-mode h2.main-heading {
    color: white;
}

body.dark-mode .heading-bold {
    color: white;
}

body.dark-mode .heading-light {
    color: white;
}

body.dark-mode .subheading {
    color: white;
}

body.dark-mode .body {
    color: white;
}

/*** Animations ***/

.hidden { /* Default style makes everything hidden */
    opacity: 0;
    transition: all 1s;
}

.right-slide { /* Animation to slide in from the right */
    transform: translateX(100%);
}

.left-slide { /* Animation to slide in all the way from the left */
    transform: translateX(-100%);
}

.part-left-slide { /* Animation to slide in part way from the left */
    transform: translateX(-20%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}


/*** Transition Delays ***/

/* Makes each heading line staggered */

.heading:nth-child(2) { /* 'Louise' */
    transition-delay: 50ms;
}

.heading:nth-child(3) { /* 'Claughton' */
    transition-delay: 100ms;
}

.heading:nth-child(4) { /* 'Web Designer & Developer */
    transition-delay: 150ms;
}

/* Other Delays */

/* Makes the text on the work page staggered against the images */

.text-container {
    transition-delay: 200ms;
}

/*** The Little Library Foundation ***/
#library-brief {
    background-color: black;
    color: white;
    height: 70vh;
}

#library-heading {
    font-family: 'Averia Serif Libre';
}

#library-wireframes,
#library-fonts {
    margin: 50px;
}

.font-image {
    height: 300px;
    width: auto;
}

.wireframe-image {
    width: px;
    height: auto;
}